@import url(style.css);

#project {
    background-color: #fff;
}

#project img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

#products {
    background-color: #eee;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
}

.product {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

#charity {
    background-color: #fff;
}

.charity-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
}

.charity-item {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#contact {
    background-color: #eee;
}

/* 产品详情模态框样式 */
.modal-dialog {
    max-width: 800px;
}

.modal-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.modal-description {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 10px;
}